body {
    color: #feda4a !important;
    font-family: 'Pathway Gothic One', sans-serif !important;
    background-color: black !important;
}


#image {
    padding: 10px;

}

.card-title{
    color: black;
}

