.button-container {
    display: flex;
    justify-content: center;
    height: 30px;
}



#searc-form {
    display: flex;
    justify-content: center;
    font-size: 500%;

   
}

body {
    background: #000;
  }
  
 #intro {
    display: flex;
    justify-content: center;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 200%;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 50%;
    text-align: center;
  }

.card {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  color: #feda4a;
  

}

img {
  width: 200px;
  height: auto;
}

#spaceshipcard {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-bottom: 100px;
}

#spacecard {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

